@import "../../mixins.scss";

.ui-field {
	display: block;
	margin: 0 0 10px 0;
	&:last-child {
		margin-bottom: 0;
	}
	.label {
		display: inline-block;
		padding: 0 0 4px 0;
		color: $light-text-color;
	}
	.text {
		display: inline-block;
		padding: 4px 0 0 0;
		&.danger {
			color: #a94442;
		}
	}
	.ui-input, .ui-textarea, .ui-select {
		display: block;
		width: 100%;
	}
	.ui-alert {
	    margin: 4px 0 0 0;
	    border: none;
	    background: none !important;
	    .ui-alert-content {
	        padding: 0;
	    }
	}
}
