@import "../../mixins.scss";

.ui-button {
	display: inline-block;
	@include box-sizing(border-box);
	padding: 0 10px;
	height: 32px;
	line-height: 30px;
	border: 1px solid $border-color;
	border-radius: 4px;
	background-color: $background-color;
	color: $text-color;
	font-family: inherit;
	font-size: inherit;
	@include transition(
		border-color 150ms ease-out, background-color 150ms ease-out
	);
	&:hover {
		border-color: $dark-border-color;
		cursor: pointer;
		@include transition(
			border-color 150ms ease-in, background-color 150ms ease-in
		);
	}
	&:active {
		border-color: $dark-border-color;
		background-color: #eeeeee;
		cursor: pointer;
		@include transition(
			border-color 150ms ease-in, background-color 150ms ease-in
		);
	}
	&:focus {
		outline: none;
	}
	// Disabled buttons.
	&:disabled {
		border-color: $border-color !important;
		background-color: $dark-background-color !important;
		color: #666666 !important;
		cursor: default;
	}
	// Primary buttons.
	&.primary {
		border-color: #0073aa;
		background-color: #0085ba;
		color: #ffffff;
		&.primary:hover {
			background-color: #008ec2;
		}
		&.primary:active {
			background-color: #0073aa;
		}
	}
	// Success buttons.
	&.success {
		border-color: #1e7e34;
		background-color: #2b8e42;
		color: #ffffff;
		&:hover {
			background-color: #309648;
		}
		&:active {
			background-color: #1e7e34;
		}
	}
	// Danger buttons,
	&.danger {
		border-color: #cc342f;
		background-color: #d9534f;
		color: #ffffff;
		&:hover {
			background-color: #e2615e;
		}
		&:active {
			background-color: #cc342f;
		}
	}
}
