.b-solutions .ui-block-content {
	padding: 0;
	overflow-x: auto;
}

.b-solutions .ui-table {
	border: none;
}

.b-solutions .ui-table .id {
	width: 1%;
	text-align: right;
}

.b-solutions .ui-table td.id {
	padding: 0;
}

.b-solutions .ui-table .id > a {
	display: inline-block;
	padding: 8px 10px;
}

.b-solutions .ui-table .created {
	width: 60px;
	text-align: center;
}

.b-solutions .ui-table .created .date {
	font-size: 12px;
}

.b-solutions .ui-table .participant {
	width: 100px;
	text-align: center;
}

.b-solutions .ui-table .problem {
	text-align: left;
}

.b-solutions .ui-table td.problem {
	padding: 0;
}

.b-solutions .ui-table .problem > a,
.b-solutions .ui-table .problem > span {
	display: inline-block;
	padding: 8px 10px;
}

.b-solutions .ui-table .compiler {
	width: 80px;
	text-align: center;
}

.b-solutions .ui-table .compiler span {
	cursor: default;
}

.b-solutions .ui-table .verdict {
	width: 70px;
	text-align: center;
}

.b-solutions .ui-table .verdict .type {
	display: block;
	cursor: default;
}

.b-solutions .ui-table .verdict .value {
	display: block;
	font-size: 13px;
	color: #666666;
}

.b-solutions .ui-table .verdict .defense {
	display: block;
	font-size: 10px;
	color: #666666;
}

.b-solutions .ui-table .accepted .verdict .type {
	color: #3c763d;
}

.b-solutions .ui-table .rejected .verdict .type {
	color: #a94442;
}

.b-solutions .ui-table .pretests .verdict .type {
	color: #31708f;
}

.b-solutions .ui-table .testing .verdict .type {
	color: #666666;
}

.b-solutions .ui-table .timeUsed {
	width: 50px;
	text-align: center;
}

.b-solutions .ui-table .memoryUsed {
	width: 70px;
	text-align: center;
}

.b-solutions .ui-table .timeUsed .value,
.b-solutions .ui-table .memoryUsed .value {
	display: block;
}

.b-solutions .ui-table .timeUsed .unit,
.b-solutions .ui-table .memoryUsed .unit {
	display: block;
	font-size: 13px;
	color: #666666;
}
