@mixin transition($args...) {
	transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-webkit-transition: $args;
}

@mixin box-sizing($sizing) {
	box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}

// Default background color for all elements like block.
$background-color: #ffffff;
// Background color of body.
$dark-background-color: #f1f1f1;

// Default border color for all elements like block.
$border-color: #dddddd;
// Hover border color.
$dark-border-color: #bbbbbb;

// Default color of text.
$text-color: #000000;
