name: Main
on: [push]
jobs:
  test:
    name: Test Repository
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
          curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
          dep ensure
        fi
    - name: Run tests
      run: |
        go test -race -coverprofile=coverage.txt -covermode=atomic ./...
    - name: Upload to Codecov
      run: |
        curl -s https://codecov.io/bash | bash
